import React from "react"
import { View, SafeAreaView } from "react-native"
<% if (props.useNativeBase) { -%>
import { Button } from "native-base"
<% } else { -%>
import { Button } from "react-native-paper"
<% } -%>
import { useNavigation } from "@react-navigation/native"
import { Header, Screen, Text, Wallpaper, BulletItem } from "../../components"
import createScreen from '../createScreen'
import { colors } from '../../theme'
import styles from './styles'

export default createScreen('Welcome', (props) => {
  const navigation = useNavigation()
  const loadUser = React.useMemo(
    () => async () => {
      <% if (props.useStateMachineMST) { -%>
        // make an API call for the demo
        // Don't do API like this, use store's API
        const demo = new Api()
        demo.setup()
        demo.getUser("1")
      <% } else { -%>
        await props.getUsers({ query: { results: 10 } })
      <% } -%>
    },
    [],
  )
  const nextScreen = async () => {
    await loadUser()
    navigation.navigate('Dashboard')
  }

  return (
    <% if (props.includeDetox) { -%>
      <View testID="WelcomeScreen" style={styles.FULL}>
    <% } else { -%>
      <View style={styles.FULL}>
    <% } -%>
      <Wallpaper />
      <Screen style={styles.CONTAINER} preset="scroll" backgroundColor={colors.transparent}>
        <Header headerTx="welcomeScreen.poweredBy" style={styles.HEADER} titleStyle={styles.HEADER_TITLE} />
        <Text style={styles.TITLE_WRAPPER}>
          <Text style={styles.TITLE} text="Your new app, " />
          <Text style={styles.ALMOST} text="almost" />
          <Text style={styles.TITLE} text="!" />
        </Text>
        <Text style={styles.TITLE} preset="header" tx="welcomeScreen.readyForLaunch" />
        <Text style={styles.CONTENT}>
          The two screens provided by the boilerplate process are Dashboard and this Welcome screen.
          The background colors for each are probably not what you end up with.
        </Text>
        <BulletItem text="From near the corner left side, swipe to the right to open the Drawer Menu on the left side."/>
        <BulletItem text="Run `$ ignite generate screen Example` to create another screen."/>
      </Screen>
      <SafeAreaView style={styles.FOOTER}>
        <View style={styles.FOOTER_CONTENT}>
          <% if (props.useNativeBase) { -%>
          <Button
            <% if (props.includeDetox) { -%> testID="next-screen-button"<% } -%>
            primary
            full
            onPress={nextScreen}
          >
          <% } else { %>
            <Button mode="contained" onPress={nextScreen} >
          <% } %>
            <Text tx="welcomeScreen.continue" />
          </Button>
        </View>
      </SafeAreaView>
    </View>
  )
})
